<p>Hello World</p>

{% schema %}

{
  "name": "Sections tutorial",
  "tag": "section",
  "class": "section-tutorial",
  "limit": 2,
  "settings": [],
  "blocks": [],
  "presets": [
    {
      "name": "Sections Tutorial 1",
      "settings": {}
    },
    {
      "name": "Sections Tutorial 2",
      "settings": {}
    }
  ]
}

{% endschema %}